<div class="header">
  <div class="header-content">
    <a class="link" (click)="router.navigate(['/'])">
      <img class="logo" src="https://cdn3.iconfinder.com/data/icons/popular-services-brands-vol-2/512/steam-512.png" alt="">
      <span class="explous">Big Data</span>
    </a>
    <a class="link responsive-none" (click)="router.navigate(['/usuarios'])">
      <span class="explous">Usuarios</span>
    </a>
    <a class="link responsive-none" (click)="router.navigate(['/juegos'])">
      <span class="explous">Juegos</span>
    </a>
    <a class="link responsive-none" (click)="router.navigate(['/paises'])">
      <span class="explous">Paises</span>
    </a>
    <a class="link responsive-none" (click)="router.navigate(['/reportes'])">
      <span class="explous">Reportes</span>
    </a>
    <div class="space"></div>
    <a class="link" (click)="router.navigate(['/presentacion'])">
      <span class="explous">Presentacion</span>
      <img class="icono2" src="https://cdn2.iconfinder.com/data/icons/circle-icons-1/64/easel-512.png" alt="">
    </a>
  </div>
  <div class="header-content-responsive">
    <a class="link links-responsive" (click)="router.navigate(['/usuarios'])">
      <span class="explous">Usuarios</span>
    </a>
    <a class="link links-responsive" (click)="router.navigate(['/juegos'])">
      <span class="explous">Juegos</span>
    </a>
    <a class="link links-responsive" (click)="router.navigate(['/paises'])">
      <span class="explous">Paises</span>
    </a>
    <a class="link links-responsive" (click)="router.navigate(['/reportes'])">
        <span class="explous">Reportes</span>
      </a>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>